/* You can add global styles to this file, and also import other style files */
.actionButtons button+button {
    margin-left: 1rem;
}

.app-table-responsive {
    height: 80vh;
    overflow: scroll;
    border: solid 1px blue;
}

thead {
    position: sticky;
    top:0;
    z-index:10;
}
